<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-24G0JxCfRegC-GLEZJ3pow2BGhIA8M8</string>
	<key>GCM_SENDER_ID</key>
	<string>99718587655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redeVizinhaApp</string>
	<key>PROJECT_ID</key>
	<string>rede-vizinha</string>
	<key>STORAGE_BUCKET</key>
	<string>rede-vizinha.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99718587655:ios:ed8c3b3aa32f96f6b711a2</string>
	<key>DATABASE_URL</key>
	<string>https://rede-vizinha-default-rtdb.firebaseio.com</string>
</dict>
</plist>
